* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: serif;
    font-weight: bold;
    user-select: none;
}

html {height: 100%;}

body {
    width: 100%;
    height: 100%;
    margin-top: 6%;
}

.full-bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("https://wallpapers.com/images/featured/landscape-293chzhp3r67ag4a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

/*TITLE BAR*/

.title-bar {
    width: 100%;
    height: 5%;
    background-color: #121212;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 2vw;
}

/*END*/

/*HYPERLINK*/

a:hover {
    cursor: pointer;
}

/*END*/

/*OVERLAY*/

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.inner-content {
    position: relative;
    top: -100%;
    padding: 10px;
    height: 100%;
}

/*END*/

/*PRIORITY BACKGROUND*/

.priority-1 {
    background-color: rgba(0, 0, 0, 0.1);
}

.priority-2 {
    background-color: rgba(0, 0, 0, 0.4);
}

.priority-3 {
    background-color: rgba(0, 0, 0, 0.7);
}

.priority-4 {
    background-color: rgba(0, 0, 0, 0.9);
}

/*END*/

/*CONTENT*/

.content-div {
    border-radius: 5px;
    position: relative;
}

/*END*/

/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #550077;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #660088;
}

/*SCROLLBAR END*/

/*Calendar part*/
#calendar {
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}

#week-days-top {
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
}

#week-days-top:hover {
    cursor: default;
}

#day-squares {
    width: 100%;
    height: 90%;
}

.day {
    width: 14%;
    aspect-ratio: 2/1;
    display:inline-block;
    border-radius: 5px;
    border: #565656 1px solid;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    font-size: 1.5vw;
}

.hoverable-day:hover {
    background-color: #565656;
    border-color: white;
    cursor: pointer;
}

.day-row {
    width: 100%;
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
}

#date-info {
    font-size: 3vw;
    display: flex;
    justify-content: space-between;
}

#date-info:hover {
    cursor: default;
}

.button {
    color: white;
    transition: all 0.3s ease-in;
}

.button:hover {
    color: #565656;
}

.current-day {
    border: #660088 1px solid !important;
}

/*END*/

/*MENU*/

#menu {
    position: fixed;
    height: 100%;
    width: 45%;
    z-index: 1000;
    transition: all ease-out 0.3s;
    top: 0;
    overflow-y: scroll;
}

.menu-item {
    color: snow;
    padding: 2%;
    font-size: small;
    height: 20%;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #550077;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    border: #550077 solid 1px;
    transition: background-color 0.3s ease-in-out;
}

.menu-item:last-of-type {
    margin-bottom: 10%;
}

.menu-item:hover {
    background-color: transparent;
}

.menu-item .noteHead {
    width: 100%;
    height: 3.5vh;
    display: block;
}

.noteHead h1 {
    float: left;
    vertical-align: middle;
    font-size: 2vw;
}

.menu-item p {
    font-size: 1.5vw;
    display: block;
    width: 80%;
    text-align: justify;
    margin-top: 1.5%;
}

.noteHead .circle {
    height: 100%;
    aspect-ratio: 1/1;
    float: right;
    opacity: 1;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.noteHead .circle:hover{
    opacity: 0.5;
}

.menuEssentials {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    font-size: 2vw;
}

.menuEssentials:hover {
    background-color: #550077;
}

.add-btn {
    background-color: snow;
    color: black;
    padding:2%;
    font-size: 2vw;
    padding-right: 5%;
    border-radius: 30px;
    padding-left: 5%;
    position: sticky;
    width: 60%;
    bottom: 5%;
    left: 5%;
    border: snow 1px solid;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: snow;
}

#bMenu {
    position: fixed;
    right: 0;
    top: 0;
    height: 5%;
    aspect-ratio: 1/1;
    background-color: #550077;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-weight: bolder;
    color:white;
    transition: all 0.3s ease-in-out;
    border: #550077 solid 1px;
}

#bMenu:hover{
    background-color: transparent;
    cursor: pointer;
}
/*END*/

/*NOTES*/

.colorNote {
    display: inline-block;
    width: 10%;
    aspect-ratio: 1/1;
    margin: 1%;
    border-radius: 25px;
}

.hiddenNote {
    position: absolute;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 10px;
    color: black;
    display: none;
}

.colorNote:hover .hiddenNote{
    display: block;
    opacity: 1;
}

/*END*/

/*SECTION*/

.section {
    width: 90%;
    margin: 0 auto;
}

/*END*/

/*TODO*/

.TODO {
    width: 47%;
    float: left;
    aspect-ratio: 4/3;
    border-radius: 25px;
    margin-top: 2%;
    position: relative;
}

.todoItem {
    width: 80%;
    height: 5%;
    transition: all 0.3s ease;
    padding: 3%;
    margin: 5% auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.todoItem:last-of-type {
    margin-bottom: 20%;
}

.todoItem p {
    float: left;
    font-size: 2vw;
}

.todoItem .todoBtn {
    height: 90%;
    aspect-ratio: 1/1;
    background-color: #D9D9D9;
    border: #D9D9D9 solid 3px;
    border-radius: 50%;
    float: right;
    transition: background-color 0.3s ease;
}

.todoBtn:hover {
    background-color: transparent;
    cursor: pointer;
}

.todoItem:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.add-todo {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 10%;
    aspect-ratio: 1/1;
    background-color: snow;
    color: black;
    border: snow solid 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: bolder;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-todo:hover {
    background-color: transparent;
    color: snow;
    cursor: pointer;
}

/*END*/

/*NOTES*/

.notes {
    width: 47%;
    float: right;
    aspect-ratio: 4/3;
    border-radius: 25px;
    margin-top: 2%;
}

/*END*/

/*ENTER TEXT*/

.inputText {
    width: 30%;
    aspect-ratio: 4/3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputText * {
    font-size: 2vw;
}

.inputText input {
    background-color: #121212;
    outline: none;
    box-shadow: none;
    border: none;
    display: block;
    color: white;
    width: 100%;
    padding: 5px;
    border: solid 1px #121212;
    border-radius: 5px;
    transition: all 0.6s ease;
}

.inputText button {
    margin-top: 5px;
    background-color: black;
    border: none;
    padding: 5px;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.inputText input:focus {
    background-color: transparent;
}

.inputText button:hover {
    background-color: transparent;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    position: fixed;
    top:0;
    left:0;
}

.inputEvents {
    width: 50%;
    aspect-ratio: 4/3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.inputEvents * {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #121212;
    outline: none;
    border: none;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #121212;
    width: 60%;
    font-size: 2vw;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.inputEvents *:not(div):hover, .inputEvents *:focus {
    background-color: transparent;
    color: #121212;
}

.inputEvents div input[type=text]:hover, .inputEvents div input[type=text]:focus {
    background-color: #D9D9D9;
    color: #121212;
}

.inputEvents input[type=text], .inputEvents input[type=color]{
    display:inline-block;
}

.inputEvents input[type=color]{
    aspect-ratio: 1/1;
    width: 10%;
    height: 100%;
    float: right;
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.inputEvents div *{
    height: 3vh;
    border: #D9D9D9 solid 1px;
    margin-top: 0;
}

.inputEvents input[type=color]::-webkit-color-swatch {
    border: 1px solid #d9d9d9;
}
.inputEvents input[type=color]::-moz-color-swatch {
    border: 1px solid #D9D9D9;
}

.inputEvents div {
    height: 10%;
}

.inputEvents button {
    color: #D9D9D9;
}

#exitMenus {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 3vw;
    color: #d9d9d9;
    z-index: 1001;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    transition: color 0.3s ease;
}

#exitMenus:hover {
    color: #b7b7b7;
    cursor: pointer;
}

/*END*/

/*ALERTS*/

.alert {
    position: fixed;
    left: 50%;
    width: 50%;
    aspect-ratio: 15/1;
    transform: translateX(-50%);
    color: #D9D9D9;
    border-radius: 50px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    transition: top 0.3s ease-in-out;
}

/*END*/